/** General **/
/*************/

/* Space out content a bit */
body {
    padding: 0;
    margin: 0;
    color: #5f5f5f;
}

.container-narrow > hr {
    margin: 30px 0;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.main-container {
    border-top: 3px solid #FF9324;
    padding-top: 25px;
}

.navbar-brand {
    margin: -5px 0px 10px 2px;
}

.logo {
    height: 30px;
}

.navbar {
    margin-bottom: 10px;
    min-height: 60px;
}

.navbar-default .navbar-nav li:last-child {
    border-top: 1px solid #d9d9d9;
    padding-top: 10px;
    cursor: pointer;
}

.side-menu {
    min-height: 200px;
    max-width: 250px;
}

.side-menu-container ul li {
    width: 100%;
    margin: 10px 0px;
}

.logout {
    border-top: 1px solid #d9d9d9;
    padding-top: 15px;
}

.side-menu .nav > li > a {
    position: relative;
    display: block;
    padding: 5px 15px;
}

.side-menu-container .glyphicon {
    padding-right: 10px;
}

.side-menu .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    border-left: 3px solid #FF9324;
    color: #ec8124;
}

.side-menu .navbar-default .navbar-nav a {
    border-left: 3px solid white;
}

footer {
    font-size: 12px;
    color: #bfbfbf;
    padding-top: 15px;
    border-top: 1px solid #d9d9d9;
}

footer a {
    color: #B0B0B0;
}

footer a:hover {
    color: #bfbfbf;
}

/** Login **/
/***********/

.login-logo {
    width: 275px;
    height: 175px;
    padding: 10px 25px 5px 0px;
    margin-left: -40px;
}

/** Fixes **/
/***********/

.center {
    text-align: center;
}

/* Modal overrides */
/*************/

.modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/* Bootstrap overrides */
/*************/

.navbar-default {
    border-color: #d9d9d9 !important;
    background-color: white;
}

.icon-bar {
    background-color: #a7c822 !important;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px #ec8124;
    outline: 0 none;
    border-color: #ec8124;
}

input.ng-invalid-email, input.ng-invalid-minlength {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px rgba(255, 0, 0, 1.0);
}

.alert-danger a, .red {
    color: red;
}

.alert-danger a:hover {
    color: red;
}

/** Animations **/
/****************/

.ng-scope.fade {
    display: none;
    opacity: 0;
    animation-duration: 0.25s;
    animation-name: fadeIn;
}

.ng-scope.in {
    display: block;
    opacity: 1;
    animation-duration: 0.25s;
}

.fade-div .ng-leave {
    animation: fadeOut 0.25s;
}

.fade-div .ng-enter {
    animation: fadeIn 0.25s;
}

/** Spaces **/
/****************/

.top10 {
    margin-top: 10px;
}

.top15 {
    margin-top: 15px;
}

.top17 {
    margin-top: 17px;
}

.top30 {
    margin-top: 30px;
}

.top40 {
    margin-top: 40px;
}

.top50 {
    margin-top: 50px;
}

.top100 {
    margin-top: 100px;
}

.top150 {
    margin-top: 150px;
}

.bottom5 {
    margin-bottom: 5px;
}

.bottom7 {
    margin-bottom: 7px;
}

.bottom10 {
    margin-bottom: 10px;
}

.bottom15 {
    margin-bottom: 15px;
}

.bottom20 {
    margin-bottom: 20px;
}

.bottom30 {
    margin-bottom: 30px;
}

/* Loading bar spinner */

#loading-bar .peg {
    -moz-box-shadow: #7bb344 1px 0 6px 1px;
    -ms-box-shadow: #7bb344 1px 0 6px 1px;
    -webkit-box-shadow: #7bb344 1px 0 6px 1px;
    box-shadow: #7bb344 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon {
    border-top-color:  #7bb344;
    border-left-color: #7bb344;
}


#loading-bar .bar {
    background: #7bb344;
}