/** General **/
/*************/

/* Space out content a bit */
body {
    padding: 0;
    margin: 0;
    color: #5f5f5f;
}

.container-narrow > hr {
    margin: 30px 0;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.main-container {
    border-top: 4px solid #FF9324;
    padding: 25px 0 15px 0;
}

.navbar-brand {
    margin: 0px 0px 10px 2px;
}

.navbar-header {
    width: 100%;
}

.logo {
    height: 30px;
}

.navbar {
    margin-bottom: 10px;
}

.navbar-nav {
    margin: 7px 0;
    width: 100%;
}

.navbar-default .navbar-nav li:last-child {
    border-top: 1px solid #d9d9d9;
    padding-top: 10px;
    cursor: pointer;
}

.side-menu {
    min-height: 200px;
    min-width: 150px;
}

.side-menu-container ul li {
    width: 100%;
    margin: 10px 0;
}

.logout {
    border-top: 1px solid #d9d9d9;
    padding-top: 15px;
    width: 100%;
}

.side-menu .nav > li > a {
    position: relative;
    display: block;
    padding: 5px 15px;
}

.side-menu-container .glyphicon {
    padding-right: 10px;
}

.side-menu .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    border-left: 3px solid #FF9324;
    color: #ec8124;
}

.side-menu .navbar-default .navbar-nav a {
    border-left: 3px solid white;
}

footer {
    font-size: 12px;
    color: #bfbfbf;
    padding-top: 15px;
    border-top: 1px solid #d9d9d9;
}

footer a {
    color: #B0B0B0;
}

footer a:hover {
    color: #bfbfbf;
}

.ng-table-header  {
    text-align: left;
}

.list-action {
    cursor: pointer;
    margin-left: 15px;
}

.table .action {
    text-align: center;
}

.ng-table-counts {
    margin: 21px 0;
}

input.submitted.ng-invalid {
    border: 1px solid #f00;
}

.dash-number-container {
    text-align: center;
    font-size: 31px;
    font-weight: normal;
    margin: 40px;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #F5F5F4;
}

.dash-number-container .dash-number {
    display: block;
    font-weight: bold;
    font-size: 72px;
}

.border-bottom {
    border-bottom: 1px solid #d9d9d9;
}

/** Login **/
/***********/

.login-logo {
    width: 275px;
    height: 175px;
    padding: 10px 30px 5px 0px;
    margin-left: -40px;
}

/** Fixes **/
/***********/

.center {
    text-align: center;
}

/* Modal overrides */
/*************/

.modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/* Bootstrap overrides */
/*************/

.navbar-default {
    border-color: #d9d9d9 !important;
    background-color: white;
}

.icon-bar {
    background-color: #a7c822 !important;
}

textarea:focus,
select:focus,
select.form-control:focus,
textarea.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
oi-multiselect .multiselect-search.focused,
oi-multiselect .multiselect-dropdown {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px #ec8124;
    outline: 0 none;
    border-color: #ec8124;
}

oi-multiselect .multiselect-dropdown {
    border:none;
}

input.ng-invalid-email, input.ng-invalid-minlength {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px rgba(255, 0, 0, 1.0);
}

.alert-danger a, .red {
    color: red;
}

.alert-danger a:hover {
    color: red;
}

.btn-xs {
    margin-top: -2px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.33;
    border-radius: 3px;
}

.left-control {
    width: 48.5%;
    display:inline;
    margin-bottom: 10px;
}

input.left-control {
    margin-right: 2%;
}

select.left-control {
    padding: 2px;
}

.date-picker-col {
    padding-left: 0px;
}

.date-picker-col-right {
    padding-right: 0px;
}

.invalid-dates {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px red;
    outline: 0 none;
    border-color: red;
}

.dropdown-menu li {
    cursor: pointer;
}

/** Animations **/
/****************/

.ng-scope.fade {
    display: none;
    opacity: 0;
    animation-duration: 0.25s;
    animation-name: fadeIn;
}

.ng-scope.in {
    display: block;
    opacity: 1;
    animation-duration: 0.15s;
}

.fade-div .ng-leave {
    animation: fadeOut 0.15s;
}

.fade-div .ng-enter {
    animation: fadeIn 0.15s;
}

.logo {
    z-index: 5;
    position: relative;
}

.logo:hover {
    animation-duration: 1s;
    animation-name: swing;
    animation-delay: 0.15s;
}

/** Spaces **/
/************/

.top10 {
    margin-top: 10px;
}

.top15 {
    margin-top: 15px;
}

.top17 {
    margin-top: 17px;
}

.top30 {
    margin-top: 30px;
}

.top40 {
    margin-top: 40px;
}

.top50 {
    margin-top: 50px;
}

.top100 {
    margin-top: 100px;
}

.top150 {
    margin-top: 150px;
}

.bottom5 {
    margin-bottom: 5px;
}

.bottom7 {
    margin-bottom: 7px;
}

.bottom10 {
    margin-bottom: 10px;
}

.bottom15 {
    margin-bottom: 15px;
}

.bottom20 {
    margin-bottom: 20px;
}

.bottom30 {
    margin-bottom: 30px;
}

/** Loading bar spinner **/
/*************************/

#loading-bar .peg {
    -moz-box-shadow: #7bb344 1px 0 6px 1px;
    -ms-box-shadow: #7bb344 1px 0 6px 1px;
    -webkit-box-shadow: #7bb344 1px 0 6px 1px;
    box-shadow: #7bb344 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon {
    border-top-color:  #7bb344;
    border-left-color: #7bb344;
}

#loading-bar .bar {
    background: #7bb344;
}

/** Toogle switch **/
/*************************/

.switch {
    width: 46px;
    height: 24px;
}
.switch small {
    /* button */
    width: 24px;
    height: 24px;
}
.switch.checked {
    background: #7bb344;
    border-color: #7bb344;
}

/** Calendar **/
/*************************/

th.switch {
    display: table-cell;
}

/** Multiselection **/
/*************************/

oi-multiselect .multiselect-search-list-item {
    position: relative;
    font-size: 14px;
    display: inline-block;
    margin: 2px 4px 2px 0;
    vertical-align: middle;
    white-space: normal;
    width: 100px;
    height: 25px;
    padding-right: 25px;
    padding-top: 2px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
}

span.close.multiselect-search-list-item_selection-remove {
    position: absolute;
    top: -1px;
    right: 5px;
}

oi-multiselect .multiselect-search-list-item_input input {
    margin-left: 11px;
}
