/** General **/
/*************/

/* Space out content a bit */
body {
    padding: 0;
    margin: 0;
    color: #5f5f5f;
}

.container-narrow > hr {
    margin: 30px 0;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/** Fixes **/
/*************/

.center {
    text-align: center;
}

/* Modal overrides */
/*************/

.modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.navbar-header, .navbar-collapse {
    background-color: white;
}