<div class="container-fluid main-container">
    <div ng-include="'views/fragments/sidebar.html'" class="col-md-2 sidebar"></div>

    <!-- Content goes here -->

    <div class="col-md-10 content">
        <div class="panel panel-default">
            <div class="panel-heading">
                <small><b>Apps</b></small>
            </div>
            <div class="panel-body">
                <table ng-table="tableParams" class="table">
                    <tbody>
                    <tr ng-repeat="app in $data">
                        <td data-title="'Name'">
                            {{app.name}}
                        </td>
                        <td data-title="'Application Key'">
                            {{app.applicationKey}}
                        </td>
                        <td data-title="'Action'" class="action">
                            <a ng-click="edit(app)" class="list-action"><span class="glyphicon glyphicon-edit"></span></a>
                            <a ng-click="delete(app)" class="list-action"><span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- End content -->
</div>

<footer ng-include="'views/fragments/footer.html'"></footer>