<div class="container-fluid main-container">
    <div ng-include="'views/fragments/sidebar.html'" class="col-md-2 sidebar"></div>

    <!-- Content goes here -->
    <div class="col-md-10 content">
        <div class="panel panel-default">
            <div class="panel-heading">
                <small><a href="#/beacons">Beacons</a> &rsaquo; {{isNew ? 'New' : object.name}}</small>
            </div>
            <div class="panel-body">
                <div ng-include="'views/fragments/alerts.html'"></div>
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="submit()">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="title" ng-model="object.name"
                               placeholder="Pick a name..." required/>
                    </div>
                    <div class="form-group">
                        <label>UUID</label>
                        <input type="text" class="form-control" name="title" ng-model="object.uuid"
                               placeholder="Enter UUID..." is-uuid required/>
                    </div>
                    <div class="form-group">
                        <label>Major</label>
                        <input type="text" class="form-control" name="title" ng-model="object.major"
                               placeholder="Enter major identifier..." is-int required/>
                    </div>
                    <div class="form-group">
                        <label>Minor</label>
                        <input type="number" class="form-control" name="title" ng-model="object.minor"
                               placeholder="Enter minor identifier..." is-int required/>
                    </div>

                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-success">
                        <span class="glyphicon glyphicon-save"></span> Save
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="delete()" ng-disabled="!object.id">
                        <span class="glyphicon glyphicon-remove"></span> Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
    <!-- End content -->
</div>

<footer ng-include="'views/fragments/footer.html'"></footer>