<div class="container-fluid main-container">
    <div ng-include="'views/fragments/sidebar.html'" class="col-md-2 sidebar"></div>

    <!-- Content goes here -->

    <div class="col-md-10 content">
        <div class="panel panel-default">
            <div class="panel-heading">
                <small><b>Beacons</b></small>
            </div>
            <div class="panel-body">


            </div>
        </div>
    </div>

    <!-- End content -->
</div>

<footer ng-include="'views/fragments/footer.html'"></footer>