<div class="container-fluid main-container">
    <div ng-include="'views/fragments/sidebar.html'" class="col-md-2 sidebar"></div>

    <form name="form" role="form" novalidate
          class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
          ng-submit="submit()">
        <!-- Content goes here -->
        <div class="col-md-10 content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <small><a href="#/events">Events</a> &rsaquo; {{isNew ? 'New' : object.name}}</small>
                    <switch ng-model="object.active" class="green pull-right"></switch>
                </div>
                <div class="panel-body">
                    <div ng-include="'views/fragments/alerts.html'"></div>
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" name="title" ng-model="object.name"
                               placeholder="Pick a name..." required/>
                    </div>
                    <div class="form-group">
                        <label>Type</label>
                        <select class="form-control" ng-model="object.objectType">
                            <option value="text">Text</option>
                            <option value="notification">Notification</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Trigger</label>
                        <select class="form-control" ng-options="parseInt(key) as value for (key, value) in
                                eventTypes"
                                ng-model="object.eventType">
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Retrigger delay (in minutes)</label>

                        <div>
                            <input type="text" class="form-control" name="title" ng-model="object.threshold"
                                   placeholder="Enter Delay..." is-int/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div><label>Schedule</label></div>

                        <div class="col-sm-6 date-picker-col">
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown"
                                   data-target="#" href="#">
                                    <div class="input-group"><input type="text" class="form-control"
                                                                             placeholder="Select start date..."
                                                                             data-ng-model="object.scheduledStartDate | date: 'EEEE, MMMM d yyyy - HH:mm'">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="object.scheduledStartDate"
                                                    data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 date-picker-col-right">
                            <div class="dropdown">
                                <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown"
                                   data-target="#" href="#">
                                    <div class="input-group"><input type="text" class="form-control"
                                                                             placeholder="Select end date..."
                                                                             data-ng-model="object.scheduledEndDate | date:'EEEE, MMMM d yyyy - HH:mm'">
                                        <span class="input-group-addon"><i
                                                class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <datetimepicker data-ng-model="object.scheduledEndDate"
                                                    data-datetimepicker-config="{ dropdownSelector: '#dropdown3' }"/>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- TextEvent -->
                    <div class="form-group" ng-hide="object.objectType != 'text'">
                        <label class="top10">Text</label>
                        <textarea class="form-control" name="text" ng-model="object.text" rows="12"
                                  placeholder="Enter text here..." ng-required="object.objectType == 'text'"></textarea>
                    </div>

                    <!-- NotificationEvent -->
                    <div class="form-group" ng-hide="object.objectType != 'notification'">
                        <label class="top10">Title</label>
                        <input type="text" class="form-control" name="title" ng-model="object.title"
                               placeholder="Enter a title here..." ng-required="object.objectType == 'notification'"/>

                        <label class="top10">Message</label>
                        <textarea class="form-control" name="text" ng-model="object.message" rows="4"
                                  placeholder="Enter a message here..."
                                  ng-required="object.objectType == 'notification'"></textarea>
                    </div>

                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-success">
                        <span class="glyphicon glyphicon-save"></span> Save
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="delete()" ng-disabled="!object.id">
                        <span class="glyphicon glyphicon-ban-circle"></span> Delete
                    </button>
                </div>
            </div>
        </div>
    </form>
    <!-- End content -->
</div>

<footer ng-include="'views/fragments/footer.html'"></footer>