<div flash-alert="error" class="fade" active-class="in alert alert-danger" role="alert">
    <strong>Error.</strong>
    <span>{{flash.message}}</span>
</div>
<div flash-alert="warning" class="fade" active-class="in alert alert-warning" role="alert">
    <strong>Warning.</strong>
    <span>{{flash.message}}</span>
</div>
<div flash-alert="info" class="fade" active-class="in alert alert-info" role="alert">
    <strong>Info.</strong>
    <span>{{flash.message}}</span>
</div>
<div flash-alert="success" class="fade" active-class="in alert alert-success"  role="alert">
    <strong>Success.</strong>
    <span>{{flash.message}}</span>
</div>