<div class="side-menu">
    <nav class="navbar navbar-default" role="navigation">
        <div class="side-menu-container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">
                    <div><img class="logo" src="images/logo_alt.svg"/></div>
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a>
                </li>
                <li><a href="#/apps"><span class="glyphicon glyphicon-fire"></span> Apps</a></li>
                <li><a href="#/beacons"><span class="glyphicon glyphicon-map-marker"></span> Beacons</a></li>
                <li><a href="#/events"><span class="glyphicon glyphicon-bell"></span> Events</a></li>
                <li><a ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
</div>