<div class="side-menu">
    <nav class="navbar navbar-default" role="navigation">
        <div class="side-menu-container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">
                    <div class="logo"></div>
                </a>
            </div>
            <ul class="nav navbar-nav">
                <li ng-class="{ active: isActive('/')}"><a href="/"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a>
                </li>
                <li ng-class="{ active: isActive('/apps')}"><a href="apps"><span class="glyphicon glyphicon-fire"></span> Apps</a></li>
                <li ng-class="{ active: isActive('/beacons')}"><a href="beacons"><span class="glyphicon glyphicon-map-marker"></span> Beacons</a></li>
                <li ng-class="{ active: isActive('/events')}"><a href="events"><span class="glyphicon glyphicon-bell"></span> Events</a></li>
                <li ng-class="{ active: isActive('/account')}" class="border"><a href="account"><span class="glyphicon glyphicon-user"></span> Account</a></li>
                <li><a ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        </div>
    </nav>
</div>